.menu {
       width: 5000px;
       height: 100%;
       max-width: 100%;
       background-position: center;
       background-size: cover;
       background: radial-gradient(circle, green, azure);
       color: orangered;
       font-size: 60px;
       font-weight: bold;
     }