.contian {
       max-width: 100%;
       align-items: center;
       background-color: lightgray;    }
.soge {
       width: 5000px;
       height: 50px;
       max-width: 100%;
       background-color: lightgray;
       text-align: center;
       font-size: 50px;
       }
.textarea {
	background-color: white;
}

     
.centertext1 {
	margin-top: 20px;
	text-align: center;
}
.centertext2 {
	text-align: center;
	font-weight: 800;
}